:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

/*PAGE*/
.page {
  background-color: #f1f5f9;
  min-height: 200vh;
}

/*sidebar*/
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .sidebar {
    width: 62px;
    padding: 10px;
  }
}
.sidebar h3 {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .sidebar h3 {
    font-size: 10px;
    margin-top: 50%;
    margin-bottom: 0px;
  }
}
.sidebar h3::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: black;
  transform: translateX(-50%);
  left: 50%;
  bottom: -20px;
}
@media (max-width: 767px) {
  .sidebar h3::before {
    display: none;
  }
}
.sidebar h3::after {
  content: "";
  position: absolute;
  background: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: -29px;
  transform: translateX(-50%);
  left: 50%;
  border: 5px solid white;
}
@media (max-width: 767px) {
  .sidebar h3::after {
    display: none;
  }
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 3px;
}
.sidebar ul li a:hover {
  background-color: #f6f6f6;
}
.sidebar ul li .active {
  background-color: #f6f6f6;
}
.sidebar ul li span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar ul li span {
    display: none;
  }
}

/*sidebar*/
/* Start Content */
.content {
  overflow: hidden;
}
.content .head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  position: absolute;
  border-radius: 50%;
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.content .head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.content .head .search input:focus {
  width: 200px;
}
.content .head .search input:focus::placeholder {
  opacity: 0;
}
.content .head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.content .head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  border-radius: 50%;
}
.content h1 {
  margin: 20px 20px 40px;
}
.content h1::after, .content h1::before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.content h1::before {
  background-color: white;
  width: 120px;
}
.content h1::after {
  background-color: black;
  width: 40px;
}
.content .wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .content .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.content .wrapper .welcome {
  overflow: hidden;
}
.content .wrapper .welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
@media (max-width: 767px) {
  .content .wrapper .welcome .intro img {
    padding-bottom: 30px;
  }
}
.content .wrapper .welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
@media (max-width: 767px) {
  .content .wrapper .welcome .avatar {
    margin-left: 0;
  }
}
.content .wrapper .welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.content .wrapper .welcome .body div {
  flex: 1;
}
.content .wrapper .welcome .body div::not(::last-child) {
  margin-bottom: 20px;
}
.content .wrapper .welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.content .wrapper .welcome .visit::hover {
  background-color: var(--blue-alt-color);
}

/* End Welcome Widget */
/* end Content */

/*# sourceMappingURL=master.css.map */
